.container {
  max-width: 1350px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-fifth {
  width: 20%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-three-fifths {
  width: 60%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dots {
  display: flex;
  gap: 0.8rem;
}

.dot {
  cursor: pointer;
}

img {
  width: 400px;
}

.fa-chevron-left,
.fa-chevron-right {
  transform: scale(2);
  cursor: pointer;
}
