/* General */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1350px;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-thirds {
  width: calc(1 / 3 * 100%);
}

.center {
  text-align: center;
}

.text-white {
  color: white;
}

.text-grey {
  color: gray;
}

.avenir {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.tiempos {
  font-family: "Tiempos Headline", sans-serif;
  font-style: normal;
  font-weight: normal;
}

/* Home */
.container-header {
  margin: 18px 275px 0;
}

.header-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heading-right {
  display: flex;
  align-items: flex-end;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.heading-left {
  height: 30px;
  margin-left: 100px;
}

.list-no-style {
  list-style-type: none;
  display: flex;
  gap: 70px;
}

.heading-button {
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 40px;
  padding: 14px 15px;
  background-color: rgb(0 46 73);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

.heading-link {
  text-decoration: none;
  color: gray;
}

.hr-top {
  background-color: lightgray;
  height: 2px;
  border-top: none;
  margin-bottom: 80px;
}

.home-image-background {
  width: 1350px;
  height: 625px;
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  background: linear-gradient(rgb(41 43 29 / 20%), rgb(0 0 0 / 45%));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text-on-img {
  position: absolute;
  left: 85px;
  top: 55px;
  width: 580px;
}

.heading-img {
  font-size: 44px;
  font-family: "Tiempos Headline", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.p-img {
  line-height: 30px;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-top: -10px;
}

.button-image {
  background-color: rgb(0 46 73);
  padding: 18px 50px;
  border: none;
  border-radius: 4px;
  margin-top: 25px;
  font-size: 20px;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.home-p-3 {
  max-width: 510px;
  margin: 0 auto;
  line-height: 27px;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 60px;
}

.home-heading-3 {
  font-family: "Tiempos Headline", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 35px;
  margin-bottom: 7px;
}

.home-margin-3 {
  margin-top: 80px;
}

.column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
}

.home-column-3-right {
  position: relative;
  left: 25px;
}

.home-column-3-left {
  position: relative;
  right: 25px;
}

.home-started {
  background-color: rgb(0 46 73);
  padding: 18px 50px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  margin-bottom: 20px;
}

.home-p-small {
  font-size: 16px;
}

.home-ready {
  font-size: 35px;
  margin-bottom: -1px;
  font-weight: 700px;
}

.home-column-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 620px;
}

.home-column-left {
  margin-left: 620px;
}

.hr-bottom {
  background-color: lightgray;
  height: 2px;
  border-top: none;
  margin-top: 70px;
  margin-bottom: -10px;
}

.background-grey {
  background-color: rgb(71 71 71);
  padding: 60px 75px 80px;
  margin-top: 60px;
}

.address {
  max-width: 210px;
  line-height: 25px;
  font-size: 16px;
}

.bottom-links {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 18px;
}

.bottom-canvas {
  width: 150px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.bottom-line-height {
  line-height: 40px;
}

.margin-bottom-0 {
  margin-bottom: 0;
  font-size: 18px;
}

.bottom-margin-right {
  margin-right: -525px;
}

.bottom-margin-left {
  margin-left: 550px;
}

.footer {
  text-decoration: none;
  color: grey;
  font-size: 18px;
}

.footer-spacing {
  margin: 50px 610px;
}

.link-spacing {
  margin-right: 25px;
}

/* Product Page */
.product-img-background {
  width: 1340px;
  height: 625px;
  background-image: url("images/product/product-header.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.product-text-on-img {
  position: absolute;
  left: 120px;
  top: 150px;
  width: 550px;
}
